{% extends "main/base.html" %}
{% block title %}Create Entry{% endblock title %}
{% block content %}
<h1>Create Entry</h1>
<p>{{entry.description}}</p>
{% if entry%}
<form enctype="multipart/form-data" action="{% url 'main:update_entry' entry.id %}" method="post">
{% else %}
<form enctype="multipart/form-data" action="{% url 'main:create_entry' post.id %}" method="post">
{% endif %}
{% csrf_token %}
    <div class="mb-5">
      <label class="form-label">Entry picture</label>
      <input class="form-control" name="image" type="file" id="formFile" onchange="preview()">
      <button type="button" onclick="clearImage()" class="btn btn-danger mt-3">Remove</button>
  </div>
  {% if entry.image %}
  <img id="frame" src={{entry.image.url}} class="img-fluid" />
  {% else %}
  <img id="frame" src="" class="img-fluid" />
  {% endif %}

    <div class="mb-3">
        <label >Description</label>
        {% if entry.description %}
        <textarea name="description" class="form-control">{{entry.description}}</textarea>
        {% else %}
        <textarea name="description" class="form-control"></textarea>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-success">Create Entry</button>
  </form>
  <script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
        
    }
</script>
{% endblock content %}