{% extends "main/base.html" %}
{% block title %}Create Entry{% endblock title %}
{% block content %}
<h1>Create Entry</h1>
<form enctype="multipart/form-data" action="{% url 'main:create_entry' post.id %}" method="post">
    {% csrf_token %}
    <div class="mb-5">
      <label class="form-label">Entry picture</label>
      <input class="form-control" name="image" type="file" id="formFile" onchange="preview()">
      <button type="button" onclick="clearImage()" class="btn btn-danger mt-3">Remove</button>
  </div>
  <img id="frame" src="" class="img-fluid" />
    <div class="mb-3">
        <label >Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Create Entry</button>
  </form>
  <script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
        
    }
</script>
{% endblock content %}