{% extends "main/base.html" %}
{% block title %}Home Page{% endblock title %}
{% block style %}
{%load static%}
<link rel="stylesheet" href="{% static 'home/home.css' %}"> 
{% endblock style %}
{% block content %}
<h1>Home Page</h1>
<div class="row">
    {% for post in posts %}
        <div class="card col-sm-6 m-2 p-0" style="width: 18rem;">
            {% if post.image %}
                <img class="card-img-top" src="/media/{{post.image}}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="/media/images/No-Image-Placeholder.svg.png" alt="Card image cap">
            {% endif %}
            
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">{{post.author.username}}</li>
            <li class="list-group-item">{{post.created_at}}</li>
            </ul>
            <div class="card-body">
                {% if user == post.author %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="post-id" value="{{post.id}}">Delete</button>
                </form>
                {% comment %} <a href="/entries" class="btn btn-primary stretched-link">Go somewhere</a> {% endcomment %}
                <a href="{% url 'main:entries' post.id%}" class="btn btn-primary stretched-link">Add entry</a>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p>No post yet :( </p>
{% endfor %}
</div>
{% endblock content %}
